/* You can add global styles to this file, and also import other style files */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.employee-book-layout-container {
    display: flex;
    margin-top: 3.5rem;
}
  
.employee-book-left-layout-item {
    display: flex;
    flex-direction: column;
}
  
.employee-book-center-layout-item-center { 
    flex-grow: 1; /* Set the middle element to grow and stretch */
    display: flex;
    justify-content: center;
    align-items: center;
}

.ng-valid[required], 
.ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-dirty.ng-invalid:not(form){
    border-left: 5px solid #a94442; /* red */
  }
  
/* .item + .item { 
    margin-left: 2%; 
} */

/* mat-dialog-container#modal-component {
    border: 3px solid #262626;
    border-radius: 11px;
} */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
